@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-neutral-100;
} */
/* .linner {
  background: linear-gradient(90deg, #1fd8b6, #12badf, #c5018e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
} */
body {
  background: #f5f4f2;
}
/* body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
/* body::-webkit-scrollbar {
  width: 12px;
} */
/* 
body::-webkit-scrollbar-thumb {
  background-color: transparent;}  */
