@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-neutral-100;
} */
/* .linner {
  background: linear-gradient(90deg, #1fd8b6, #12badf, #c5018e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
} */
body {
  background: #f5f4f2;
}
